/* Home Styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

/* Home Container Styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background-color: #efefd0;
}

/* Heading Styles */
.heading {
  font-size: 36px; /* Larger font size for impact */
  font-weight: bold;
  margin-bottom: 20px; /* Increased margin for separation */
  color: #ff6b35; /* Highlighted text color */
  text-align: center;
}

/* Buttons Styles */
.buttons-container {
  display: flex;
  flex-direction: row; /* Adjusted for a horizontal layout */
  gap: 20px; /* Increased gap between buttons */
  margin-top: 30px; /* Increased margin for separation */
}

.button {
  padding: 15px 30px; /* Increased padding for a larger button */
  border-radius: 10px; /* Rounded corners for a modern look */
  font-size: 16px; /* Slightly increased font size */
  font-weight: bold;
  background-color: #ff6b35; /* Stylish green button color */
  color: #fff; /* White text color */
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0a3a87; /* Darker green on hover for contrast */
}

/* Media Query for Mobile Screens */
@media (max-width: 767px) {
  /* Adjust styles for mobile screens here */
  .home-container {
    padding: 10px; /* Adjusted padding for mobile */
  }

  .heading {
    font-size: 20px; /* Adjusted font size for mobile */
    margin-bottom: 10px; /* Adjusted margin for mobile */
  }

  .button {
    padding: 10px 15px; /* Adjusted padding for mobile */
    font-size: 12px; /* Adjusted font size for mobile */
  }
}

/* General Styling */
/* Styles for the shopping website look */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover .delete-button {
  display: block;
}

.card-image-container {
  height: 200px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  padding: 16px;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.brand-color {
  color: #777;
}

/* Styles for the delete button */
.delete-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Navbar Styling */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #efefd0; /* Green navbar background color */
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav .nav-button {
  color: #ff6b35;
  background-color: #ff6b35; /* Green navbar button color */
  font-size: 16px; /* Adjusted font size for mobile */
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  margin: 10px;
}

.nav-button:hover {
  background-color: #f7c59f;
}

nav .nav-button:disabled {
  background-color: #b5b4b4;
  color: #a27ef8;
}

/* AddItem.css */

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px; /* Rounded corners for a modern touch */
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.add-button {
  background-color: #ff6b35;
  color: #fff;
  padding: 14px 24px; /* Increased padding for a more prominent button */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #f7c59f;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.upload-button,
.close-button {
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.upload-button {
  background-color: #45a049;
  color: #fff;
}

.upload-button:hover {
  background-color: #2980b9;
}

.close-button {
  background-color: #e74c3c;
  color: #fff;
}

.close-button:hover {
  background-color: #d23321;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-preview-container {
  display: none; /* Initially hide the image preview */

  @media (min-width: 768px) {
    display: block; /* Show the image preview on screens wider than 768px (adjust as needed) */
  }
}

/* RandomOutfit.css */
.random-outfit-container {
  text-align: center;
  margin-top: 30px;
}

.shuffle-button {
  padding: 15px 25px; /* Slightly increased padding for better appearance */
  border-radius: 12px; /* Rounded corners */
  font-size: 16px; /* Slightly increased font size */
  font-weight: bold;
  background-color: #ff6b35; /* Updated green button color */
  color: #fff; /* White text color */
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease, transform 0.5s ease; /* Added transform transition */
}

.shuffle-button:hover {
  background-color: #f7c59f; /* Darker green on hover */
}

.outfit-display {
  margin-top: 20px;
}

.outfit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Increased margin */
}

.outfit-card img {
  width: 150px; /* Increased image size */
  height: 150px;
  object-fit: cover;
  border-radius: 12px; /* Rounded corners */
  margin-bottom: 15px; /* Increased margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle box-shadow */
}

.outfit-display h2 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px; /* Increased margin */
  color: #ff6b35; /* Updated text color to a shade of blue */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .heading {
    font-size: 28px; /* Adjusted font size for small screens */
  }

  .button {
    padding: 15px 25px; /* Adjusted padding for small screens */
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    width: 150px;
  }

  .item-name {
    font-size: 1rem;
  }

  nav .nav-button {
    font-size: 14px; /* Adjusted font size for small screens */
    padding: 10px 14px; /* Adjusted padding for small screens */
  }

  .button-container {
    flex-direction: row; /* Adjusted for small screens */
  }

  .upload-button,
  .close-button {
    padding: 10px 16px; /* Adjusted padding for small screens */
  }

  .outfit-card img {
    width: 100px; /* Adjusted image size for small screens */
    height: 100px;
  }

  .outfit-display h2 {
    font-size: 22px; /* Adjusted font size for small screens */
  }
}

.top-carousel-container {
  max-width: 800px; /* Set a max-width for better responsiveness */
  margin: 0 auto;
  padding: 20px;
}

.top-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px; /* Add some margin between cards */
}

.top-card img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio for images */
}

@media (max-width: 767px) {
  .top-card {
    margin: 0; /* Remove horizontal margin on small screens */
  }
}
